@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.card p {
    font-size: clamp(1.2rem, 4vw, 1.4rem);
    font-weight: 700;
}
