@use '/src/css/sass/variables' as *;

html {
    background-color: $htmlbackground;
}

main {
    margin: auto;
}

.wrapper {
    max-width: 100vw;
    margin: auto;
    color: $textcolor;
}

.intro{
max-width: 60ch;
padding: 15px;
margin: auto;

a {
    color: $linkcolor;
}

p {
    line-height: 1.4;
}

}

#icon {
    cursor: pointer;
}

img{
    max-width: 400px;
    height: auto;
    display: block;
    margin: auto;
    }

#cta{
    font-weight: 700;
    padding-top: 50px;
    margin: 0;
}

#pic-container{
    max-width: 100%;
    img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top;
        overflow: hidden;
        display: block;
    }
}



@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: spin 3s linear forwards;
}


@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}

.fade-out {
    animation: fade-out 3s forwards;
}




@media (min-width: 1000px) {
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        justify-content: center;
        align-items: center;
    }

    #pic-container{
        grid-column: span 2;
        height: 100vh;
        width: 100vw;
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            display: block;
        }
    }

}